* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 45);
  color: white;
}

.card {
  height: 100vh;
  padding-top: 150px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.card-center {
  border: 30px solid rgb(255, 255, 255);
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 5rem;
  text-transform: uppercase;
  border-radius: 50%;
}

.card-center button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(122, 122, 200);
  border: none;
  padding: 0.2rem;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 0.5rem;
  border-radius: 2px;
}

.card-center button:hover {
  background-color: rgb(7, 7, 89);
}

.card-center h1 {
  padding-bottom: 1rem;
}

.card-center p {
  padding-top: 1rem;
}
